
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/images/OASIS-Slider3.jpg" alt="First slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Welcome to OASIS</h3>
      <p>Learn More</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/images/OASIS-Slider2.jpg" alt="Second slide">
      <div class="mask rgba-black-slight waves-light"mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Volunteer at OASIS</h3>
      <p>Learn More</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/images/OASIS-Slider1.jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Careers</h3>
      <p>Learn More</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>




<!-- Section: Blog v.2 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <img class="img-fluid" src="assets/images/Header.jpg" alt="Sample image">
  <!--<h2 class="h1-responsive font-weight-bold my-5">Recent posts</h2> -->
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum.</p>

  <!-- Grid row -->
  <div class="row ml-3 mr-3">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="assets/images/OASIS-Slider1.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      <a href="#!" class="pink-text">
        <h6 class="font-weight-bold mb-3"><i class="far fa-map pr-2"></i>Premises</h6>
      </a>
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>Welcome to OASIS</strong></h4>
      <!-- Post data -->
      <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
      <!-- Excerpt -->
      <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
        quo minus id quod maxime placeat facere possimus voluptas.</p>
      <!-- Read more button -->
      <a mdbBtn color="pink" rounded="true" mdbWavesEffect>Read more</a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="assets/images/OASIS-Slider2.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      <a href="#!" class="deep-orange-text">
        <h6 class="font-weight-bold mb-3"><i class="fas fa-graduation-cap pr-2"></i>Contribution</h6>
      </a>
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>Volunteer at OASIS</strong></h4>
      <!-- Post data -->
      <p>by <a class="font-weight-bold">Billy Forester</a>, 13/07/2018</p>
      <!-- Excerpt -->
      <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
        voluptatum deleniti atque corrupti quos dolores. Some dummy text to fill the space</p>
      <!-- Read more button -->
      <a mdbBtn color="deep-orange" rounded="true" mdbWavesEffect>Read more</a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-0">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="assets/images/OASIS-Slider3.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      <a href="#!" class="blue-text">
        <h6 class="font-weight-bold mb-3"><i class="fas fa-fire pr-2"></i>Education</h6>
      </a>
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>Career</strong></h4>
      <!-- Post data -->
      <p>by <a class="font-weight-bold">Billy Forester</a>, 11/07/2018</p>
      <!-- Excerpt -->
      <p class="dark-grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
        quia consequuntur magni dolores eos qui ratione.</p>
      <!-- Read more button -->
      <a mdbBtn color="info" rounded="true" mdbWavesEffect>Read more</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>






<!-- Section: Blog v.2 -->
<!--Section: Features v.4-->
<section>

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold text-center">Why choose O.A.S.I.S?</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam.</p>

  <!--Grid row-->
  <div class="row ml-5 mr-5">

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <i class="fas fa-2x fa-person-booth deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Patient Portal</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam,
            aperiam minima assumenda
            deleniti hic.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <i class="fas fa-2x fa-pills deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Physician Portal</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam,
            aperiam minima assumenda
            deleniti hic.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <i class="fas fa-2x fa-laptop-medical deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Preoperative Education</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam,
            aperiam minima assumenda
            deleniti hic.</p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2 center-on-small-only flex-center">
      <img src="assets/images/Portfolio.jpg" alt="" class="z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <i class="fas fa-2x fa-heartbeat deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Quality of Care</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam,
            aperiam minima assumenda
            deleniti hic.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <i class="fas fa-2x fa-clinic-medical deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">Serving the Community</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam,
            aperiam minima assumenda
            deleniti hic.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <i class="fas fa-2x fa-hospital-alt deep-purple-text"></i>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">OASIS Hospital Overview</h5>
          <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
            nam,
            aperiam minima assumenda
            deleniti hic.</p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--/Section: Features v.4-->

<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Meet the OASIS Hospital Team</h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Fugit, error
    amet numquam iure provident voluptate esse quasi,
    veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="assets/images/D1.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Philip To, MD</h5>
      <p class="text-uppercase blue-text">
        <strong>Orthopedic Surgeon</strong>
      </p>
      <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci sed
        quia non numquam</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="assets/images/D2.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Kenneth J. Schmidt, MD</h5>
      <p class="text-uppercase blue-text">
        <strong>Orthopedic Surgeon</strong>
      </p>
      <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
        doloremque
        rem laudantium totam
        aperiam.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="assets/images/D3.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Nima Salari, MD</h5>
      <p class="text-uppercase blue-text">
        <strong>Orthopedic Surgeon</strong>
      </p>
      <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit
        anim est fugiat nulla
        id eu laborum.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram blue-text"> </i>
        </a>
        <!-- Dribbble -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-dribbble blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="assets/images/D4.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Parisa M. Morris, MD</h5>
      <p class="text-uppercase blue-text">
        <strong>Orthopedic Surgeon</strong>
      </p>
      <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
        totam
        officia voluptates</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->